{ :db {:desal {:dbtype "postgres"
               :dbname "desal"
               :username "postgres"
               :password "postgres"
               :host "10.200.0.90"
               :port "5432"}
       
       :asistencial  {:dbtype "relativity"
                      :classname "relativity.jdbc.Driver"
                      :dbname "asistencial"
                      :user "ADMIN"
                      :password ""
                      :host "10.200.0.30"
                      :port "1583"}}}